.product-item {
	cursor: pointer;
	transition: .2s ease-in transform;
}

.product-item:hover {
	transform: translateY(-20px);
	background: rgba(0, 0, 0, .1)
}

/* navbar */

.navbar li a {
	margin: 0px;
	padding: 10px 7.5px;
	font-size: 20px;
	transition: .3s ease-in background;
}

.navbar li a:hover {
	background: rgba(0, 50, 100, .5);
	color: #fff;
}

.navbar-brand {
	text-transform: uppercase;
	text-shadow: 1px 1px 3px gray;
	font-size: 25px;
	letter-spacing: .5px;
	color: rgba(0, 50, 100, .5) !important;
}


.myH2 {
	text-overflow: ellipsis !important;
	overflow: hidden !important;
}